<h1>Coding Events</h1>
@if (ViewBag.events.Count == 0)
{
    <p>No events yet!</p>
}
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    @foreach (KeyValuePair<string, string> kvp in ViewBag.events)
    {
        <tr>
            <td>@kvp.Key</td>
            <td>@kvp.Value</td>
        </tr>
    }
</table>
<p>
   <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>