    <a asp-controller="Events" asp-action="Index">All Events</a>&nbsp
    <a asp-controller="Events" asp-action="Add">Add Event</a>&nbsp
    <a asp-controller="Events" asp-action="Delete">Delete Event</a>&nbsp
    <a asp-controller="EventCategory" asp-action="Index">All Event Categories</a>&nbsp
    <a asp-controller="EventCategory" asp-action="Create">Add Event Category</a>