@using CodingEvents.ViewModels
@model AddEventCategoryViewModel

<h1>Add Event</h1>
<form asp-controller="EventCategory" asp-action="Create" method="post">
   <div class="form-group">
      <label asp-for="Name">Name</label>
      <input asp-for="Name" class="form-control" />
      <span asp-validation-for="Name" class="text-danger"></span>
   </div>
   <input type="submit" value="Add Event Category" />
</form>
<p>
    <partial name="_Links" /> @*No file extension (e.g. .cshtml), search for partial in Views/_Shared*@
</p>